name: Build and Release

on:
  push:
    tags:
      - 'v*.*.*'  # Triggers the workflow on version tags

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'

    - name: Build with Maven
      run: mvn clean install

    - name: Archive glang.jar
      uses: actions/upload-artifact@v2
      with:
        name: glang-jar
        path: target/glang.jar

  release:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Download glang.jar
      uses: actions/download-artifact@v2
      with:
        name: glang-jar

    - name: Create GitHub Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: false
        prerelease: false

    - name: Upload glang.jar to Release
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: target/glang.jar
        asset_name: glang.jar
        asset_content_type: application/java-archive
